

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,200;1,400&display=swap');

body{
    background-color: ivory;
    height: 100vh;
    width:auto;
    display: flex;
    margin:5%;
}
img{
    border: 5px solid grey;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

h1, h2, p, li{
    font-family: 'Poppins';
    color: darkgreen;
}

H1{
font-size: large;
}
H2{
font-size: medium;
}

p{

 font-size: 18px;

}

a{
    text-decoration: none;
    text-emphasis: none;
    color: sienna;
}
a:hover{
    color:orange
}

#leaves{
    border:none;
    box-shadow: none;
    margin: 1rem;
}

.odinRecipes{
    font-size: 60px;
    color: goldenrod;
}


.recipeList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:10%;
    grid-gap: 5rem;
}




